@media (max-width: 87.5em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 73em) {
  .sorting-methods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .responsive-button {
    display: none;
  }
  .responsive-module {
    display: none;
  }
}
@media (max-width: 59em) {
  .sorting-methods {
    display: none;
  }
  .responsive-module {
    display: grid;
  }
  .responsive-button {
    display: block;
  }
}
@media (max-width: 32em) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 29em) {
  .create-new-array {
    padding: 1rem 1rem;
    align-self: center;
  }
  .main-nav {
    justify-content: flex-start;
  }
}
